<ion-view cache-view="false">
	<ion-header-bar align-title="center" class="bar bar-calm">
		<h2 class="title">TheBusão</h2>
	</ion-header-bar>

	<ion-subheader-bar class="bar bar-subheader">
		<div class="bar bar-header item-input-inset subheader-position">
			<label class="item-input-wrapper">
				<i class="icon ion-search calm"></i>
				<input type="text" placeholder="Digite o Bairro" ng-model="vm.search">
			</label>
		    <a ng-if="vm.search" on-touch="vm.search =''" class="button-icon">
				<i class="icon ion-close-circled calm"></i>
			</a>
		</div>

        <ion-scroll direction="y" class="thebusao-scroll" ng-if="vm.search"
            ng-class="{'small':vm.busAll.length, 'large': !vm.busAll.length}">
            <ul class="list list-search">
                <li class="item item-icon-left" ng-repeat="bus in vm.linesAll | filter: vm.search:strict" 
                    ng-if="vm.search" ng-click="vm.setBusMap(bus)">
                      <i class="icon ion-android-bus calm"></i>
                      <h5>{{bus.Denomicao}} </h5>
                </li>
            </ul>
        </ion-scroll>
	</ion-subheader-bar>

	<ion-content data-tap-disabled="true" has-subheader="true">
		<ng-map class="ng-map" zoom="{{vm.zoom}}" center="{{::vm.p}}" pan-control="true"
			map-type-control="false" zoom-control="true" zoom-control-options="{style:'SMALL'}">

			<custom-control class="location-current" position="RIGHT_BOTTOM" on-click="vm.getCenterLocation()">
				<button class="button button-small">
					<i class="icon ion-android-locate"></i>
				</button>
			</custom-control>

			<marker id="{{bus.CodigoVeiculo}}" position="[{{bus.Lat}}, {{bus.Long}}]"
                ng-repeat="bus in vm.busAll track by bus.CodigoVeiculo" on-click="vm.showDetail(bus)"
                icon="img/bus.png">
			</marker>

			<marker position="{{vm.userPosition}}" title="Você" icon="img/home.png"></marker>

			<info-window id="bal">
				<div ng-non-bindable="" class="tamanho-balao">
					<a class="item item-icon-left">
						<i class="icon ion-android-bus calm"></i> 
						<h5>{{vm.bus.Denomicao}}</h5>
						<span class="item-note">
							{{vm.bus.CodigoLinha}}
						</span>
					</a>
				</div>
			</info-window>
		</ng-map>
	</ion-content>
</ion-view>
