<ion-view cache-view="false">
	<ion-header-bar align-title="center" class="bar bar-calm">
		<h2 class="title">TheBusão</h2>
	</ion-header-bar>
	<ion-subheader-bar class="bar bar-subheader">
		<div class="bar bar-header item-input-inset subheader-position">
			<label class="item-input-wrapper">
				<i class="icon ion-search calm"></i>
				<input type="text" placeholder="Nome do bairro" ng-model="vm.search">
			</label>
			<a ng-if="vm.search" on-touch="vm.search =''" 
				class="button-icon">
				<i class="icon ion-close-circled calm"></i>
			</a>
			<!--button class="button button-calm redondo" ng-click="vm.searchLine(vm.search)">
				<i class="icon ion-navigate"></i>
			</button-->
		</div>
		<ul class="list list-search">
			<ion-scroll direction="y" class="available-scroller" ng-if="vm.search">
				<li class="item item-icon-left"
					collection-repeat="bus in vm.linesAll | filter: vm.search"
					ng-click="vm.setBusMap(bus)">
					<i class="icon ion-android-bus calm"></i> 
					<h5>{{bus.Denomicao}}</h5>
				</li>
			<ion-scroll>
		</ul>
	</ion-subheader-bar>
	<ion-content has-subheader="true">
        <ng-map class="ng-map" zoom="{{vm.zoom}}" center="{{::vm.p}}" pan-control="true"
            map-type-control="false" zoom-control="true" zoom-control-options="{style:'SMALL'}">
            <marker id="{{bus.CodigoVeiculo}}" position="[{{bus.Lat}}, {{bus.Long}}]"
                ng-repeat="bus in vm.busAll track by bus.CodigoVeiculo">
            </marker>
        </ng-map>
	</ion-content>
</ion-view>
