<ion-view cache-view="false">
	<ion-header-bar align-title="center" class="bar bar-positive">
		<h2 class="title">TheBusão</h2>
	</ion-header-bar>
	<ion-subheader-bar class="bar bar-subheader">
		<div class="bar bar-header item-input-inset subheader-position">
			<label class="item-input-wrapper">
				<i class="icon ion-search positive"></i>
				<input type="text" placeholder="Nome do bairro" ng-model="vm.search">
			</label>
		    <a ng-if="vm.search" on-touch="vm.search =''" 
			    class="button-icon">
				<i class="icon ion-close-circled positive"></i>
			</a>
			<button class="button button-clear" ng-click="vm.searchService()">
				<i class="icon ion-ios-navigate-outline positive"></i>
			</button>
		</div>

		<ul class="list list-search">
			<li class="item item-icon-left" ng-repeat="bus in vm.linesAll | filter: vm.search | limitTo: 4"
				ng-if="vm.search" ng-click="vm.setSearch(bus)">
                <i class="icon ion-ios-location-outline positive"></i> 
                        <h5>{{bus.Denomicao}}</h5>
			</li>
		</ul>
	</ion-subheader-bar>
	<ion-content data-tap-disabled="true" has-subheader="true">
	</ion-content>
</ion-view>
